body{
  width: 100vw
}

div {
  margin-top:6rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  cursor:pointer;
  width:4rem;
  font-size: 3rem;
  border: none;
  background-color: aquamarine;
  margin: 0 1rem
}

button:hover{
  
  background-color: rgb(78, 241, 187);
  
}